/* alert css */
.alert-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.alert {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    font-weight: var(--fw-semibold);
    color: var(--bg-primary);
}

.success {
    background-color: var(--success-color);
}

.info {
    background-color: var(--info-color);
}

.error {
    background-color: var(--error-color);
}

.warning {
    background-color: var(--warning-color);
}