/* button sizes */
.btn {
    font-weight: var(--fw-semibold);
    padding: 1em 2em;
}

.btn-s {
    font-size: 0.75rem;
}

.btn-m {
    font-size: 1rem;
}

.btn-l {
    font-size: 1.25rem;
}

/* button varients */
.solid {
    color: var(--bg-primary);
    background-color: var(--btn-bg-1);
    border: 2px solid var(--btn-bg-1);
}

.solid:hover {
    background-color: var(--span-2);
}

.outline {
    color: var(--text-primary);
    background-color: transparent;
    border: 2px solid var(--text-primary);
}

.outline:hover {
    background-color: var(--bg-secondary);
}

.ghost {
    color: var(--text-color);
    background-color: transparent;
}

.ghost:hover {
    background-color: var(--bg-secondary);
}

.btn-link {
    color: var(--text-primary);
    background-color: transparent;
    font-weight: var(--fw-semibold);
}

.btn-link:hover {
    text-decoration: underline;
}

.btn-fill {
    width: 90%;
}

/* button with icon */
.btn-float {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.btn-float:hover {
    background-color: var(--span-2);
}