.card {
    position: relative;
    background-color: var(--bg-secondary);
    max-width: 350px;
}

.card-media img {
    opacity: 90%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-cross {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.card-badge {
    position: absolute;
    top: 1rem;
    left: -0.125rem;
    background-color: var(--bg-primary);
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: var(--fw-semibold);
    cursor: default;
}

.card-details {
    padding: 1rem;
}

.card-title {
    line-height: 1.2rem;
}

.card-subtitle {
    font-weight: var(--fw-light);
}

.card-text {
    padding-top: 0.75rem;
}

.card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 1rem;
}

/* card text overlay css */
.card-title-section {
    position: absolute;
    top: 11rem;
}

/* horizontal card css */
.card-horizontal {
    display: flex;
    max-width: 700px;
}

.card-horizontal-nonmedia .card-actions {
    gap: 1rem;
}