/* nav css */
.header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0.25rem 2rem;
    color: var(--text-secondary);
    background-color: var(--bg-primary);
}

.header-logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.menu-icon {
    display: none;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-primary);
}

.header-logo h2 {
    font-weight: var(--fw-regular);
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--text-secondary);
}

#header-btn {
    padding: 0.75rem 1rem;
    font-size: 1rem;
}

@media (max-width: 48rem) {
    .header {
        padding: 1rem;
    }

    .menu-icon {
        display: block;
        margin-right: 1rem;
    }

    #header-btn {
        display: none;
    }
}