/* Landing page styles come here */
/* lp - landing page */
.lp {
    text-align: center;
}

.lp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin: 5rem auto;
    max-width: 720px;
}

.lp-heading {
    font-size: 4rem;
    font-weight: var(--fw-black);
    line-height: 4rem;
    letter-spacing: -1px;
}

.lp-description {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: var(--fw-semi-bold);
    color: var(--text-secondary);
    max-width: 80%;
}

.lp-btn-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.lp-btn {
    font-size: 1.25rem;
    font-weight: var(--fw-semibold);
    padding: 1rem 2rem;
    border: none;
}

.lp-primary-btn {
    color: var(--bg-primary);
    background-color: var(--btn-bg-1);
}

.lp-secondary-btn {
    color: var(--text-primary);
    background-color: var(--btn-bg-2);
}

/* Docs page styles come here */
/* dp - docs page */
.dp {
    display: flex;
    margin: 2rem 0;
}

.dp-left-aside {
    flex-basis: 20%;
    padding: 0 1rem;
}

.dp-main {
    flex-basis: 60%;
    padding: 0 2rem;
}

.dp-right-aside {
    flex-basis: 20%;
    padding: 0 1rem;
    color: var(--text-secondary);
}

.nav-link {
    display: block;
    margin: 0.25rem;
    padding: 0.75rem 1rem;
    color: var(--text-primary);
}

.nav-link:hover {
    background-color: var(--bg-secondary);
}

.active {
    background-color: var(--bg-secondary);
    font-weight: var(--fw-semibold);
}

.nav-right {
    font-size: small;
    font-weight: var(--fw-bold);
}

.dp-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid var(--span-2);
}

.dp-section {
    padding-top: 4rem;
}

.code-snippet {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    background-color: var(--bg-secondary);
}

code {
    white-space: pre-wrap;
    word-break: break-all;
}

.align-section {
    width: 100%;
}

.header-res {
    max-width: 30rem;
}

.header-demo {
    border: 1px solid var(--span-2);
    z-index: -1;
}

.menu-icon-demo {
    display: block;
    margin-right: 1rem;
}

#header-btn-demo {
    display: none;
}

.grid-child-demo {
    background-color: var(--bg-secondary);
    padding: 1rem;
}

@media (max-width: 80rem) {
    .dp-left-aside {
        flex-basis: 20%;
    }

    .dp-main {
        flex-basis: 80%;
    }

    .dp-right-aside {
        display: none;
    }
}

@media (max-width: 48rem) {
    .dp-left-aside {
        display: none;
        position: fixed;
        background-color: var(--bg-primary);
        top: 4rem;
        left: 0;
        z-index: 1;
    }

    .dp-main {
        flex-basis: 100%;
        margin: 0;
        padding: 0 1rem;
    }
}

@media (max-width: 30rem) {
    :root {
        font-size: 14px;
    }

    .lp-btn-section {
        width: 100%;
    }

    .lp-btn {
        width: 90%;
        margin: auto;
    }

    .lp-heading {
        font-size: 3rem;
        line-height: 3rem;
    }

    .lp-description {
        font-size: 1.25rem;
        line-height: 1.6rem;
        max-width: 90%;
    }

    .lp-container {
        gap: 1.5rem;
        margin: 4rem auto;
    }
}