/* Landing page styles come here */

/* lp - landing page */
.lp {
    text-align: center;
}

.lp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin: 5rem auto;
    max-width: 720px;
}

.lp-heading {
    font-size: 4rem;
    font-weight: var(--fw-black);
    line-height: 4rem;
    letter-spacing: -1px;
}

.lp-description {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: var(--fw-semi-bold);
    color: var(--description-color);
    max-width: 80%;
}

.lp-btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn {
    font-size: 1.25rem;
    font-weight: var(--fw-semibold);
    padding: 1rem 2rem;
    border: none;
}

.primary-btn {
    color: var(--primary-btn-text);
    background-color: var(--primary-btn-bg);
}

.secondary-btn {
    color: var(--text-color);
    background-color: var(--secondary-btn-bg);
}


/* Docs page styles come here */

/* dp - docs page */
.dp {
    display: flex;
    margin-top: 2rem;
    color: var(--text-color);
}

.dp-left-aside {
    flex-basis: 15%;
    padding: 0 1rem;
}

.dp-main {
    flex-basis: 65%;
    padding: 0rem 2rem;
}

.dp-right-aside {
    flex-basis: 20%;
    padding: 0rem 1rem;
    color: var(--description-color);
}

.nav-link {
    display: block;
    margin: 0.25rem;
    padding: 0.75rem 1rem;
}

.nav-link:hover {
    background-color: var(--secondary-btn-bg);
}

.active {
    background-color: var(--secondary-btn-bg);
    font-weight: var(--fw-semibold);
}

.nav-heading-right {
    font-size: small;
    font-weight: var(--fw-semibold);
}

.dp-component {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0rem;
    border: 1px solid var(--border-color);
}

.main-section {
    margin: 1rem 0rem;
}