h1 {
    font-size: 3rem;
    line-height: 5rem;
}

h2 {
    font-size: 2rem;
    line-height: 4rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1rem;
    line-height: 2rem;
}

h5 {
    font-size: 0.5rem;
    line-height: 1.5rem;
}

h6 {
    font-size: 0.25rem;
    line-height: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
}

/* text weight css */
.text-lighter {
    font-weight: var(--fw-lighter);
}

.text-light {
    font-weight: var(--fw-light);
}

.text-regular {
    font-weight: var(--fw-regular);
}

.text-semibold {
    font-weight: var(--fw-semibold);
}

.text-bold {
    font-weight: var(--fw-bold);
}

.text-black {
    font-weight: var(--fw-black);
}

/* text alignment css */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* colored text */
.text-span-1 {
    color: var(--span-1);
}

.text-span-2 {
    color: var(--span-2);
}