:root {

  /* font weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  /* colors */

  --bg-color: #1A202C;
  --span-heading: #4FD1C5;
  --description-color: #A0AEC0;
  --primary-btn-text: #1A202C;
  --primary-btn-bg: #81E6D9;
  --secondary-btn-bg: rgba(255, 255, 255, 0.08);
  --text-color: rgba(255, 255, 255, 0.92);
}